:root{
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #A9A9A9;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --hospital-green-dark: #92D29B;
    --grey-box-shadow: 0 0 15px rgb(139, 139, 139);
    --main-font: Quicksand, 'Segoe UI', Verdana, sans-serif;
    font-size: 10px;
    --font-smaller: 1.25rem;
    --font-sm: 1.4rem;
    --font-md: 1.6rem;
    --font-lg: 1.8rem;
    --font-xl: 2.2rem;
    --font-weight-light: 300;
    --font-weight-regular: 500;
    --container-width-xs: 350px;
    --container-margin: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

body {
    font-size: var(--font-sm);
}

body:has(dialog[open]) {
    overflow: hidden;
}

.container {
    margin: var(--container-margin);
    font-size: inherit;
}

.container-flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 90vw;
    margin: auto;
    text-align: center;
    font-size: inherit;
}

.d-none {
    display: none !important
}

.main-logo {
    display: block;
    margin: 0 auto 30px;
    width: 170px;
}

.main-logo--lg {
    width: 220px;
}

.title-h1 {
    font-weight: bold;
    font-size: var(--font-lg);
    margin-bottom: 8px;
}

.subtitle {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-md);
    color: var(--very-light-pink);
    margin-bottom: 24px;
}

p {
    color: var(--very-light-pink);
}

small {
    font-size: var(--font-smaller);
}

.link {
    text-decoration: none;
    color: var(--hospital-green);
}

.link:hover {
    text-decoration: underline;
    color: var(--hospital-green-dark);
}

.link-unstyled {
    text-decoration: none;
    color: var(--black);
}

.link-unstyled:active, .link-unstyled:hover {
    text-decoration: underline;
    color: var(--dark);
}

.circle-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: var(--text-input-field);
}

/* Animations */
.scale-up-center { animation:scale-up-center 0.4s; }
@keyframes scale-up-center{ 0%{transform:scale(.5)} 100%{transform:scale(1)} }

.slide-right{ animation:slide-right .3s linear both; }
@keyframes slide-right{ 0%{transform:translateX(-100px)} 100%{transform:translateX(0px)} }

/* Media Queries */
@media (min-width: 350px) {
    .container-sm {
        max-width: var(--container-width-xs);
    }
}

@media (min-height: 500px) {
    .fixed-bottom {
        position: fixed;
        bottom: 0;
        width: calc(100% - var(--container-margin)*2);
    }
    
    .fixed-bottom-flex {
        position: fixed;
        bottom: 0;
        width: inherit;
        max-width: inherit;
    }
}

@media (max-height: 500px) {
    .container-flex-center {
        height: inherit;
        margin: 10px auto;
    }
}

@media (max-width: 767.98px) and (orientation: landscape) {
    .main-logo {
        display: none;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .d-initial--sm {
        display: initial !important
    }

    .d-none--sm {
        display: none !important
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    @media (min-height: 500px) {
        .fixed-bottom-flex--md {
            position: fixed;
            bottom: 0;
            width: inherit;
            max-width: inherit;
        }
    }
    
    .fixed-bottom-reset--md {
        position: static;
        width: initial;
    }

    .main-logo {
        display: none;
    }

    body {
        font-size: var(--font-md);
    }
    
    .title-h1 {
        font-size: var(--font-xl);
    }
    
    .subtitle {
        font-size: var(--font-lg);
    }

    small {
        font-size: var(--font-sm);
    }

    .order-1--md {
        order: 1;
    }

    .container-sm--md {
        max-width: var(--container-width-xs);
    }

    .container-flex-center--md {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 90vw;
        margin: auto;
        text-align: center;
        font-size: inherit;
    }

    .d-initial--md {
        display: initial !important
    }

    .d-none--md {
        display: none !important
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .d-initial--lg {
        display: initial !important
    }
    
    .d-none--lg {
        display: none !important
    }
}