@import url("../dropdown.css");
@import url("../ShoppingCart/ShoppingCart.css");
@import url("../ProductItem/ProductItem.css");

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: var(--navbar-height);
    box-shadow: var(--grey-box-shadow);
}

.nav-bar__logo {
    width: 140px;
}

.nav-bar__categories {
    display: none;
    align-self: center;
}

.nav-bar__category-option {
    appearance: none;
    display: inline-block;
}

.nav-bar__category-option:checked + span {
    color: var(--hospital-green);
    padding: 2px 6px;
    border-radius: 5px;
    border: 1.5px solid var(--hospital-green);
    font-weight: bold;
    transition: color .3s ease-in-out;
}

.nav-bar__category-label {
    font-weight: var(--font-weight-regular);
    color: var(--very-light-pink);
    cursor: pointer;
}

.nav-bar__email, .nav-bar__menu-email {
    color: var(--black);
    font-weight: var(--font-weight-light);
    font-size: var(--font-sm);
}

.nav-bar__menu {
    max-width: none;
    max-height: none;
    width: 100vw;
    height: 100vh;
    border: none;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    text-align: left;
}

.nav-bar__menu::backdrop {
    backdrop-filter: blur(2px);
}

.nav-bar__menu .btn-close {
    align-self: flex-end;
}

.nav-bar__menu-categories {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: var(--font-md);
    font-weight: bold;
}

.nav-bar__menu-title {
    font-size: var(--font-lg);
    margin-top: -20px;
}

.nav-bar__menu-sign-out-btn {
    align-self: flex-start;
    font-size: var(--font-sm);
    margin-top: 5px;
}

@media (min-height: 475px) {
    .nav-bar__menu-section-email {
        position: absolute;
        bottom: 25px;
    }
}

@media (min-width: 778px) {
    .nav-bar__menu {
        width: 40vw;
    }
}

@media (min-width: 992px) {

    .nav-bar__menu-btn, .nav-bar__menu {
        display: none !important
    }

    .nav-bar__section-logo-categories, .nav-bar__section-email-cart {
        display: flex;
        align-items: center;
    }

    .nav-bar__categories {
        display: initial;
    }
    
    .nav-bar__link {
        display: inline-block;
        margin: 0 30px;
        text-decoration: none;
    }
    
    .nav-bar__category-label {
        display: inline-block;
        margin-right: 15px;
    }

    .nav-bar__logo {
        width: 150px;
    }

    .nav-bar__cart-btn {
        margin: 0 20px 0 5px;
    }

    .nav-bar__cart-icon {
        width: 28px;
    }
}