.btn {
    display: inline-block;
    text-align: center;
    font-size: var(--font-sm);
    font-weight: 700;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn--primary {
    color: var(--white);
    background: var(--hospital-green);
}

.btn--primary:hover {
    background: var(--hospital-green-dark);
}

.btn--primary:active {
    border-color: var(--hospital-green-dark);
    box-shadow: 0 0 0 0.2rem var(--hospital-green);
}

@media (min-width: 768px) {
    .btn {
        font-size: var(--font-md);
    }
}