.form-vertical {
    text-align: left;
    align-self: center;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    width: inherit;
    max-width: inherit;
}

.form-vertical[readonly] {
    gap: 20px;
}

.form-vertical__label {
    display: block;
    font-weight: bold;
}

.form-vertical__input {
    display: block;
    width: 100%;
    field-sizing: content;
    margin-top: 4px;
    padding: 12px;
    resize: none;
    border-radius: 5px;
    border: .8px solid transparent;
    background: var(--text-input-field);
    
    &:read-only {
        padding: 0;
        background: none;
        border: none;
        
        &:focus {
            border: none;
            box-shadow: none;
        }
    }
    
    &:focus {
        color: var(--dark);
        border-color: var(--hospital-green-dark);
        outline: 0;
        box-shadow: 0 0 0 0.2rem var(--hospital-green);
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    &:user-invalid {
        border-color: var(--red-error);
    
        &:focus {
            box-shadow: 0 0 0 .3rem rgba(220,53,69,.25);
        }

        + .form-vertical__invalid-feedback {
            display: block;
        }
    }
}

.form-vertical__invalid-feedback {
    display: none;
    margin-top: .4rem;
    font-size: var(--font-sm);
    font-weight: var(--font-weight-regular);
    color: var(--red-error);
}

form.submitted .form-vertical__input:invalid {
    border-color: var(--red-error);

    &:focus {
        box-shadow: 0 0 0 .3rem rgba(220,53,69,.25);
    }
    
    + .form-vertical__invalid-feedback {
        display: block;
    }
}

.form-vertical__text-small {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-smaller);
    color: var(--very-light-pink);

    .form-vertical__input:user-invalid + &, .submitted .form-vertical__input:invalid + & {
        color: var(--red-error);
    }
}