
.modal {
    width: 95vw;
    font-size: inherit;
    margin: auto;
    padding: 2rem;
    border: none;
    border-radius: 5px;
    background: var(--white);
}

.modal::backdrop {
    backdrop-filter: blur(2px);
}

.modal__body, .modal__header, .modal__footer {
    padding: 1rem;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 10px;
}

.modal__title {
    font-size: var(--font-md);
    font-weight: 700;
}

.modal > .btn-close {
    position: absolute;
    top: 0;
    right: 10px;
}

.modal__header > .btn-close {
    position: relative;
    top: 3px;
}

@media (min-width: 576px) {
    .modal--sm {
        width: 350px;
    }
}

@media (min-width: 768px) {
    .modal--md {
        width: 600px;
    }

    .modal__title {
        font-size: var(--font-lg);
    }
}
